<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />

    <script src="/libs/jquery-1.8.2.min.js"></script>
    <script src="/libs/async.min.js"></script>
    <script src="/libs/handlebars-1.0.rc.1.js"></script> 
    <script src="/libs/ember.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers/gallery.js"></script>
    <script src="/js/views/gallery.js"></script>
    <script src="/js/helpers/index.js"></script>
    <script src="/js/controllers/index.js"></script>
    <script src="/js/views/index.js"></script>
    <script src="/js/controllers/container.js"></script>
    <script src="/js/views/container.js"></script>

    <script src="/libs/bootstrap.min.js"></script>
  </head>

  <body>
    <script type="text/x-handlebars">
      {{view App.views.container }}
    </script>
  </body>
</html>
